<%- include("header") %>




<div class="homebox">
    
    <center><img src="/images/key.png" alt="" width="70px"></center>
    <center><p class="bigtext">Welcome</p></center>
    <center>
    <a class="btn btn-primary btn-lg" href="/login">Login</a>
    <a class="btn btn-dark btn-lg" href="/register">Register</a>
    </center>

</div>


<%- include("footer") %>