<%- include('header') %>


<div class="formlogin">
    <form action="/users/register" method="POST">
      <div class="mb-3">
        <center><img class="center" src="/images/key.png" alt="" width="70px"></center>
      </div>
      <div class="mb-3">
        <label  class="form-label">Email address</label>
        <input type="email" class="form-control" name="username" aria-describedby="emailHelp">
      </div>
      <div class="mb-3">
        <label  class="form-label">Password</label>
        <input type="password" class="form-control" name="password">
      </div>
      <button type="submit" class="btn btn-primary">Register</button>
    </form>
    </div>

<%- include('footer') %>