<%- include("header") %>




<div class="homebox">
    
    <center><img src="/images/key.png" alt="" width="70px"></center>
    <center><p class="bigtext">Success GO GO</p></center>

</div>


<%- include("footer") %>